# Global owners
* SandeepVashishtha @FireFistisDead @Anushreebasics @aarushlohit @gaurav123-4 @Janhavi078 

# Specific directories
/.github/ @SandeepVashishtha 
/src/ @SandeepVashishtha @FireFistisDead @Anushreebasics @aarushlohit @gaurav123-4
