.idea
.vscode

node_modules
build
.DS_Store

# Secret Files - DO NOT COMMIT
*.SECRETS.*
*secrets*
*.secret
*.key
.env
.env.local
.env.production

/.metadata/
backend/azure-environment-variables.json

# Dev artifacts & junk files
*.log
*.stackdump
*.txt.bak
diff.txt
diff-utf8.txt
devserver.out.log
devserver.err.log

*storybook.log
storybook-static
.storybook/cache/

# Playwright
playwright-report/
test-results/
playwright/.cache/
