/* Houdini Sponsor backgrounds Paint custom rules CSS file (#16281) */

@property --sponsor-hover-x {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@property --sponsor-hover-y {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.houdini-sponsor-card {
  --sponsor-hover-x: 50;
  --sponsor-hover-y: 50;
  background: paint(sponsorBackgroundWorklet);
}
