.group-chat-panel {
  font-family: inherit;
}

.group-chat-panel div::-webkit-scrollbar {
  width: 4px;
}

.group-chat-panel div::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 2px;
}

.dark .group-chat-panel div::-webkit-scrollbar-thumb {
  background-color: #334155;
}
