.workspace-container {
  font-family: inherit;
}

.editor-wrapper textarea {
  outline: none;
  border: none;
  font-variant-ligatures: normal;
  resize: none;
}

.editor-wrapper textarea:focus {
  outline: none;
}
